<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin panel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container-fluid">
      <pre><code>
            todo:
            - create subsite
            - create main panorama for subsite
            - create hotspot for panorama by click on panorama. hotspot may contain img, links, description
            - create tour panorama hotspot
        </code></pre>
    </div>
    <div class="container-fluid">
      <a href="/admin/panorama" type="button" class="btn btn-primary"
        >add new panorama</a
      >

      <section>
        <h3>panorama list</h3>
        <ol class="list-group list-group-numbered">
          <% if (tours) { %> <% tours.forEach(element => { %>
          <li class="list-group-item">
            Name:<%=element.name%> <br />
            File: <img src="<%=element.panorama_file%>" alt="" />
          </li>
          <% }) %> <% } %>
        </ol>
      </section>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
