<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <title>admin panel</title>
  </head>

  <body>
    <div class="container-fluid">
      <pre><code>
            todo:
            - create subsite
            - create main panorama for subsite
            - create hotspot for panorama by click on panorama. hotspot may contain img, links, description
            - create tour panorama hotspot
        </code></pre>
    </div>
    <div class="container-fluid">
      <a href="/admin/panorama" type="button" class="btn btn-primary"
        >add new panorama</a
      >

      <section>
        <h3>panorama list</h3>
        <ol class="list-group list-group-numbered">
          <% if (tours) { %> <% tours.forEach(element => { %>
          <li class="list-group-item">
            Name:<%=element.name%> <br />
            File: <img src="<%=element.panorama_file%>" alt="" />
          </li>
          <% }) %> <% } %>
        </ol>
      </section>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
