<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <title>panorama</title>
  </head>
  <body>
    <form
      class="container-fluid"
      enctype="multipart/form-data"
      action="/admin/tour"
      method="post"
    >
      <h3>New panorama</h3>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Panorama name"
          name="panoramaName"
        />
      </div>

      <label for="imgInput" class="form-label mb-3">Add new panorma file</label>
      <input
        class="form-control mb-3"
        accept="image/*"
        type="file"
        id="imgInput"
        name="panoramaFile"
      />

      <div class="container-xl">
        <img id="blah" src="#" class="img-thumbnail" alt="your image" />
      </div>
      <button class="btn btn-primary mb-3" value="save">Save</button>
    </form>

    <script>
      imgInput.onchange = (evt) => {
        const [file] = imgInput.files;
        if (file) {
          blah.src = URL.createObjectURL(file);
        }
      };
    </script>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
