<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panorama 360</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .custom-hotspot {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-size: cover;
      }

      .custom-hotspot9 {
        background-image: url("/numbers/9.png");
      }
      .custom-hotspot38 {
        background-image: url("/numbers/38.png");
      }
      .custom-hotspot79 {
        background-image: url("/numbers/79.png");
      }
      .custom-hotspot38 {
        background-image: url("/numbers/38.png");
      }
      .custom-hotspot81 {
        background-image: url("/numbers/81.png");
      }
      .custom-hotspot33 {
        background-image: url("/numbers/33.png");
      }
      .custom-hotspot30 {
        background-image: url("/numbers/30.png");
      }
      .custom-hotspot27 {
        background-image: url("/numbers/27.png");
      }
      .custom-hotspot24 {
        background-image: url("/numbers/24.png");
      }
      .custom-hotspot23 {
        background-image: url("/numbers/23.png");
      }
      .custom-hotspot53 {
        background-image: url("/numbers/53.png");
      }
      .custom-hotspot46 {
        background-image: url("/numbers/46.png");
      }
      .custom-hotspot32 {
        background-image: url("/numbers/32.png");
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
  </head>
  <body>
    <div class="container-fluid pb-3">
      <a href="/admin">admin panel</a>
      <h1>360 Panorama viewer test</h1>
      <div id="panorama" style="width: 90vw; height: 90vh"></div>
    </div>

    <script>
      pannellum.viewer("panorama", {
        type: "equirectangular",
        panorama: "http://localhost:3000/img/Keskusta Talvi.jpg",
        autoLoad: true,
        hotSpotDebug: true,
        hotSpots: [
          {
            pitch: -24.346705348960988,
            yaw: 10.740680010482265,
            type: "info",
            text: "9 Taukoherkut",
            URL: "https://www.taukoherkut.fi/avoinna/",
            cssClass: "custom-hotspot custom-hotspot9",
          },
          {
            pitch: -23.08376959211073,
            yaw: 77.88745203393269,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot81",
            text: "81 Asianajotoimisto Teräskulma",
            URL: "https://www.teraskulma.com/",
          },
          {
            pitch: -27.808675174086307,
            yaw: 79.99124092953352,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot38",
            text: "38 Ilonet OY",
            URL: "https://ilonet.fi/",
          },
          {
            pitch: -32.80298644988752,
            yaw: 72.80781889140339,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot79",
            text: "79 TL Toimistopalvelut OY",
            URL: "https://tltoimistopalvelut.fi/",
          },
          {
            pitch: -9.085970180924628,
            yaw: 99.79569495106281,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot30",
            text: "30 Kesport Ilomantsi",
            URL: "https://www.kesportilomantsi.fi/",
          },
          {
            pitch: -14.588997901657562,
            yaw: 92.90880262658129,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot33",
            text: "33 Putkiasennus Räty OY",
            URL: "https://ratyoy.fi/",
          },
          {
            pitch: -25.230788410218658,
            yaw: 130.44704534415294,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot32",
            text: "32 Itä-Suomen Tili- ja Isännöinti OY",
            URL: "https://www.itasuomentili.fi/",
          },
          {
            pitch: -22.452025615956,
            yaw: 128.91086208493212,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot46",
            text: "46 Jalkojenhoito ElämysMantsi",
            URL: "",
          },
          {
            pitch: -20.3212368475782,
            yaw: 126.58969132103539,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot53",
            text: "53 Pogostan Tietoverkkopalvelut",
            URL: "https://www.ptvp.fi/#/",
          },
          {
            pitch: -13.818091286612516,
            yaw: 119.4560435523091,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot24",
            text: "24 Pogostan Kaluste",
            URL: "https://pogostankaluste.fi/",
          },
          {
            pitch: -16.039824021499946,
            yaw: 121.63494731899884,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot23",
            text: "23 Pogostan Hovi",
            URL: "https://www.hotellipogostanhovi.fi/",
          },
          {
            pitch: -10.213103913027568,
            yaw: 116.7766689727745,
            type: "info",
            cssClass: "custom-hotspot custom-hotspot27",
            text: "27 Ilomantsin Leipomo",
            URL: "https://ilomantsinleipomo.fi/",
          },
        ],
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
