<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Logout</title>
    <style>
      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="text-center">
      <h2 class="mb-4">Logout</h2>
      <p>You have been successfully logged out.</p>
      <a href="login.html" class="btn btn-primary">Login Again</a>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
